Options +FollowSymLinks
Options -Indexes
php_flag register_globals off

DirectoryIndex index.php index.html

AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /cirm/
RewriteCond $1 !^(index\.php|uploads|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /cirm/index.php/$1 [L,QSA]
</IfModule>